@using WebApplication1.Models
@model IEnumerable<FitnesCentar>
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        div {
            background-color: darkgoldenrod;
        }

        body {
            background-image: url("../../teretana.jpg");
            color: black;
            font-family: 'Bookman Old Style';
        }

        table {
            background-color: goldenrod;
            border-color: black;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            font-size: 15px;
        }

        table, tr, th, td {
            border: 3px solid darkgoldenrod;
        }

        th {
            text-align: center;
        }

        .sort {
            background-color: goldenrod;
            margin-left: auto;
            margin-right: auto;
            width: 40.5%;
            height: 30%;
        }

        input[type=submit] {
            background-color: green;
            color: white;
            border: 1px solid white;
            border-color: white;
            text-align: center;
        }

        h2 {
            width: 80%;
            background-color: white;
            text-align: center;
            color: black;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Bookman Old Style';
        }

        .forma {
            background-color: darkgoldenrod;
            text-align: right;
        }
    </style>
</head>
<body>
    <h2>Fitnes centri</h2>

    <form action="~/Vlasnik/Sortiranje" class="forma">
        <select name="vrednost">
            <option>Naziv</option>
            <option>Adresa</option>
            <option>Godina</option>
        </select>
        <select name="nacin">
            <option>Opadajuce</option>
            <option>Rastuce</option>
        </select>
        <input type="submit" value="Sortiraj" />
    </form>
    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Godina otvaranja</th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Centri)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Adresa</td>
                <td>@item.Godina</td>
                <td align="center">
                    <form action="~/Vlasnik/Detalji">
                        <input type="text" name="id" value="@item.Id" hidden />
                        <input type="submit" value="Detalji" name="detalji" />
                    </form>
                </td>
            </tr>
        }
    </table>


    <h2 style="width:41%; height:30%">Pretraga</h2>
    <form accept-charset="UTF-8" action="~/Vlasnik/Pretraga">
        <table  style="width:initial">
            <tr>
                <td>Naziv:</td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>Adresa:</td>
                <td>
                    <input type="text" name="adresa" />
                </td>
            </tr>
            <tr>
                <td>Godina:</td>
                <td>
                    <input type="text" name="minvrednost" />-<input type="text" name="maxvrednost" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Pretrazi" />
                </td>
            </tr>
        </table>
    </form>


    <center>
        <div style="background-color:green; color:white; font-size:16px;">
            <a style="color:white;" href="~/Vlasnik/DodajTrenera"> Dodaj trenera </a>
        </div>
        <div style="background-color:green; color:white; font-size:16px;">
            <a style="color:white;" href="~/Vlasnik/MojiCentri"> Moji fitnes centri </a>
        </div>
        <div style="background-color:green; color:white; font-size:16px;">
            <a style="color:white;" href="~/Vlasnik/Zaposleni"> Zaposleni </a>
        </div>
        <div style="background-color:green; color:white; font-size:16px;">
            <a style="color:white;" href="~/Vlasnik/Komentari"> Komentari </a>
        </div>
    </center>


</body>